# Haskell
.stack-work/
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
.virtualenv
.hsenv
.hpc
.cabal-sandbox/
cabal.sandbox.config
cabal.config
TAGS
.DS_Store
*~
*#

# IDE/support
.idea/
.ideaHaskellLib/
guide.iml
.vscode/
tags
